* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: url(images/bg-repeat.png);

    .sign_up_container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .sing-up_name {
            font-size: 40px;
        }
    }



    form {
        background-color: white;
        text-align: left;
        padding: 10px 30px 20px 20px;
        border-radius: 5px;

        input {
            height: 100%;
            width: 100%;
            padding: 0px 0px 0px 10px;
        }

        .input_container {
            width: 500px;
            height: 45px;
            background-color: orange;
            margin: 20px 0px;
        }

        .remember_me {
            display: flex;
            gap: 10px;

            input {
                height: 15px;
                width: 15px;
                margin-right: 10px;
            }
        }

        .forgto_sig-in {
            display: flex;
            justify-content: space-between;
            margin: 30px 0 20px 0;

            a {
                color: black;
            }

            .sign-up-button a {
                padding: 10px 20px;
                background-color: orange;
                border-radius: 5px;
                text-decoration: none;
                font-weight: bold;
            }

            .sign-up-button a:hover {
                background-color: rgb(235, 153, 0);
            }
        }

        .terms_block{
            display: flex;
            gap: 10px;
        }

        .back_next_btn{
            display: flex;
            justify-content: space-between;
            margin: 30px 0px 10px 0px;

            a{
                text-decoration: none;
                font-weight: bold;
                color: black;
            }

            .back{
                a{
                    border: solid black;
                    padding: 10px 20px;
                    border-radius: 5px;
                }
            }

            .next a{
                padding: 10px 20px;
                border-radius: 5px;
                background-color: orange;
            }
        }
    }

    .sign_up_with {
        background-color: white;
        margin: 30px 0px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;

        .sign_up_img {
            display: flex;
            gap: 20px;
        }

        img {
            height: 70px;
        }
    }
}