*{
   padding: 0;
   margin: 0;
}

html{
   width: 100%;
}

body{
   width: 100%;
   font-family: 'Poppins', sans-serif;
   background-image: url(images/bg-repeat.png);

   .sign_in_container{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .sing-in_name{
         font-size: 40px;
      }
   }



   form{
      background-color: white;
      text-align: left;
      padding: 10px 30px 20px 20px;
      border-radius: 5px;

      input{
         height: 100%;
         width: 100%;
         padding: 0px 0px 0px 10px;
      }

      .input_container{
         width: 500px;
         height: 45px;
         background-color: orange;
         margin: 20px 0px;
      }

      .remember_me{
         display: flex;
         gap: 10px;

         input{
            height: 15px;
            width: 15px;
            margin-right: 10px;
         }
      }

      .forgto_sig-in{
         display: flex;
         justify-content: space-between;
         margin: 30px 0 20px 0;

         a{
            color: black;
         }

         .sign-in-button a{
            padding: 10px 20px;
            background-color: orange;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
         }

         .sign-in-button a:hover{
            background-color: rgb(235, 153, 0);
         }
      }
   }

   .sign_in_with{
      background-color: white;
      margin: 30px 0px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 30px;

      .sign_in_img{
         display: flex;
         gap: 20px;
      }

      img{
         height: 70px;
      }
   }

   .create_acc{
      color: white;

      a{
         color: orange;
         text-decoration: none;

         
      }

      a:hover{
         text-decoration: underline;
      }

      
   }
}
