*{
   padding: 0;
   margin: 0;
}

html{
   width: 100%;
}

body{
   width: 100%;
   font-family: 'Poppins', sans-serif;
      background-color: rgb(17, 16, 16);
   
   
   .colorful_header{
      background: linear-gradient(to right, #6666ff 0%, #ff9966 100%);
      width: 100%;
      height: 60px;

      .header_title{
         display: flex;
         flex-direction: column;

         .mob_version{
            font-family: 'Poppins', sans-serif;
            color: white;
            margin: auto;
            font-size: 1.035em;
            text-align: center;
            word-spacing: 8px;
            letter-spacing: 3px;
            display: block;
            position: relative;
            top: 13.8px;
         }
         .full_h1{
            font-family: 'Poppins', sans-serif;
            color: white;
            margin: auto;
            font-size: 1.1em;
            text-align: center;
            word-spacing: 2px;
            letter-spacing: 3px;
            display: block;
            position: relative;
            top: 12.5px;
         }
      }
   }

   .black_header{
      background-color: black;
      width: 100%;
      height: 80px;
      position: relative;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, .5);
      


      #menu_icon{
         height: 30px;
         width: 30px;
         position: relative;
         left: 40px;
         top: 25px;
      }

      #rockstar_icon{
         height: 45px;
         margin-top: 18px;
         margin-left: 50px;
      }


      #profile_icon{
         height: 35px;
         margin-top: 23px;
         margin-right: 40px;
      }
      
   }

   .full_black_header{
      background-color: black;
      margin: auto;
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, .5);
      
      #rockstar_icon{
         height: 50px;
         left: 60px;
         top: 16px;
      }

      }

      ul{
         display: flex;
         gap: 80px;

         a{
            color: white;
            font-weight: 600;
            text-decoration: none;
         }
      }


     
      .menu_options{
         background-color: red;
         width: 100%;
         display: flex;
         justify-content: space-evenly;
         

         
         p{
            text-align: center;
            font-weight: bold;
         }
         .menu_games_div{
            font-family: 'Poppins', sans-serif;
            color: white;
            font-size: 1.15em;
            margin-top: 32px;
            left: 6%;
         }
      }
      
   }

   .search_profile_div{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      a{
         color: black;
         padding: 10px 15px;
         background-color: #ffb100;
         font-weight: 600;
         text-decoration: none;
         border-radius: 5px;
      }
      
      .login{
         background-color: transparent;
      }

   }

   .library{
      width: 100%;
      display: block;

      .library-wrapper{
         display: grid;
         grid-template-columns: 65% 35%;
      }


      .gta6_photo{
         background-image: url('images/GTA\ VI.jpg');
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         height: 70vh;
         width: 100%;
         

      }

      .gta6_library_bottom{
         background-color: black;
         color: white;
         width: 100%;
         height: 70vh;  
         position: relative;

      }

      h1{
         color: white;
         font-family: 'Poppins', sans-serif;
         font-size: 10px;
         margin-left: 40px;

         
      }
      #trailer_1{
         font-size: 2.4em;
         padding-top: 10px;
         padding-bottom: 25px;
      }

      #gta_txt{
         padding-top: 20px;
      }
      #trailer_1{
         padding-top: 15px;
      }
      .watch_now_div{
         border: solid 2px white;
         margin-top: 40px;
         width: 80%;
         margin: auto;
         height: 50px;
         border-radius: 5px;
         position: relative;
         width: 80%;

         h1{
            font-size: 1.4em;
            text-align: center;
            margin-top: 15px;
            margin-left: 0px;
         }
      }
      .watch_now_div:hover{
         border: solid 2px (#ffb100);
         background-color: (#ffb100);
         width: 80%;
         margin: auto;
         height: 50px;
         border-radius: 5px;
         // position: relative;
         text-decoration: none;
         transition: 0.2s;

         h1{
            color: black;
            text-decoration: none;
         }
      }
   }

   // newsvire
   .main_page{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(17, 16, 16);
      width: 100%;
      margin-top: -15px;
      #Newswire_1{
         font-size: 2em;
         color: white;
      }

      h1{
         margin: 50px 0px 20px 0px;
      }

      .contnet_box{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         gap: 40px;
         color: white;
      }

      .content{
         width: 400px;
         display: grid;
         grid-template-rows: 65% 35%;
         color: white;
         border: solid 1px #282828;
         border-radius: 15px;
         box-sizing: border-box;

         .content_title{
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 30px 0 ;
         }

         .text_block{
            padding: 20px 25px 0px 25px;
         }

         .content_text{
            font-size: 25px;
            font-weight: bolder;
         }

         .img_block{
            overflow: hidden;
         }

         img{
            width: 100%;
            height: auto;
            border-radius: 15px;
         }
      }
   }


// Feature

.feature_container{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(17, 16, 16);
   color: white;

   .feature_title{
      font-size: 35px;
      font-weight: bold;
      margin: 60px 0px 20px 0px;
   }

   .feature_content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;
      
      .feature-cont{
         width: 300px;

         img{
            width: 100%;
            height: auto;
         }
      }
   }
}

// footer
footer{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 50px 0px 0px 0px;
   background-color: black;
   padding: 5px 20px;


   .footer_logo{

      img{
         height: 60px;
         border: solid 3px #ffb100;
         border-radius: 5px;
      }
   }

   .footer_links{
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      i{
         display: flex;
         flex-wrap: wrap;
         font-size: 30px;
      }
   }
}





// Response
@media (max-width:1330px){
   body{
      .main_page{
         .contnet_box{
            display: grid;
            grid-template-columns: 1fr 1fr;
         }
      }

      .feature_container{
         .feature_content{
            display: grid;
            grid-template-columns: 1fr 1fr;
         }
      }

   }

}

@media (max-width:870px){
   body{
      .main_page{
         .contnet_box{
            display: grid;
            grid-template-columns: 1fr;

            
         }
      }

      .feature_container{
         .feature_content{
            display: grid;
            grid-template-columns: 1fr;

            img{
               width: 100%;
               height: auto;
            }
         }
      }

   }
}

@media (max-width:450px){
   .main_page{
      .contnet_box{
         .content{
            width: auto;
            .img_block{
               img{
                  width: 100%;
                  height: auto;
               }
            }

            .text_block{
               .content_title{
                  font-size: 14px;
               }

               .content_text{
                  font-size: 16px;
               }
            }
         }
      }
   }

   .feature_container{
      .feature_container_box{
         .feature_content{
            .feature-cont{
               width: auto;

               img{
                  width: 100%;
                  height: auto;
               }
            }
         }
      }
   }
}

@media (min-width:770px) {

   body{
      .colorful_header{
         .header_title{
            .mob_version{
               display: none;
            }
            .full_h1{
               margin-top: 9px;
            }
         }
      }
   }
}


@media (max-width:770px){
   body{
      .colorful_header{
         .header_title{
            .full_h1{
               display: none;
            }
         }
      }
   }
}

@media (max-width:1025px){
   body{
      .library{
         .library-wrapper{
            display: grid;
            grid-template-columns: 100%;
         }

         .gta6_library_bottom{
            height: 20vh;
         }
      }
   }
}

@media (min-width:1025px){
   body{
      .colorful_header{
         .header_title{
            .full_h1{
               font-size: 1.24em;
               margin-top: 7.5px;
            }
         }
      }
      .black_header{
         display: none;
      }
      .full_black_header{
         .menu_options{
            left: 6%;
            width: 55%;
         }
      }

      
   }
}

@media (max-width:1025px){
   body{
      .full_black_header{
         display: none;

         .menu_options{
            left: 6%;
            width: 55%;
         }
      }
   }
}